body {
  background: #112255;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}

header {
  position: absolute;
}

main {
  position: relative;
  height: 100vh;
}

#toolbar {
  position: absolute;
  top: 70px;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
}

#colorDisplay {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100px;
  justify-content: space-around;
}

.colorOption {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}
.colorOption.selected {
  outline: 2px solid gray;
}

canvas {
  cursor: none;
}

#saveButton, #cancelButton {
  position: absolute;
  padding: 10px 20px;
  background-color: #4444aa;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
}
#saveButton {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
}
#cancelButton {
  bottom: 20px;
  left: calc(50% + 100px);
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-sizing: border-box;
  /* display: flex; */  /*  Set using JS. "none" by default  */
  align-items: center;
  justify-content: center;
}
#saveButton:hover:not(:disabled), #cancelButton:hover:not(:disabled) {
  background-color: #6666cc;
}
#saveButton:disabled, #cancelButton:disabled {
  background-color: #9898ac;
  cursor: not-allowed;
}