html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: #222222;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

header {
  position: absolute;
}

main {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#pixelCanvas {
  position: absolute;
  top: 0;
  left: 0;
  image-rendering: pixelated;
  cursor: crosshair;
  z-index: 1;
  transform-origin: 0 0; /* Important: scale from top-left */
}

#toolbar {
  position: absolute;
  top: 20px;
  left: 20px;
  max-height: 80vh;
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 5;
}
#toolbar::-webkit-scrollbar {
  display: none;
}

#colorDisplay {
  margin-top: 10px;
  display: flex;
  flex-flow: row wrap;
  width: 100px;
  justify-content: space-around;
  z-index: 5;
}

#infoIcon {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  color: white;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  z-index: 5;
}
#infoBox {
  position: absolute;
  display: none;
  text-align: left;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 5px;
  z-index: 5;
}
#infoBox button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: transparent;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.colorOption {
  width: 25px;
  height: 25px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
}
.colorOption.selected {
  outline: 2px solid gray;
}

#saveButton, #cancelButton {
  position: absolute;
  padding: 10px 20px;
  background-color: #4444aa;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-weight: bold;
  z-index: 5;
}
#saveButton {
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
}
#cancelButton {
  bottom: 20px;
  left: calc(50% + 100px);
  padding: 0px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  box-sizing: border-box;
  /* display: flex; */  /*  Set using JS. "none" by default  */
  align-items: center;
  justify-content: center;
}
#saveButton:hover:not(:disabled), #cancelButton:hover:not(:disabled) {
  background-color: #6666cc;
}
#saveButton:disabled, #cancelButton:disabled {
  background-color: #9898ac;
  cursor: not-allowed;
}